anyio==3.6.2
asgiref==3.4.1
blinker==1.4
certifi==2018.1.18
chardet==3.0.4
click==8.0.4
cloud-init==20.2
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contextlib2==21.6.0
contextvars==2.4
cryptography==2.1.4
dataclasses==0.8
distro-info===0.18ubuntu0.18.04.1
fastapi==0.83.0
h11==0.13.0
httplib2==0.9.2
hyperlink==17.3.1
idna==3.4
immutables==0.19
importlib-metadata==4.8.3
incremental==16.10.1
Jinja2==2.10
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
language-selector==0.1
MarkupSafe==1.0
netifaces==0.10.4
oauthlib==2.0.6
PAM==0.4.2
pexpect==4.2.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pydantic==1.9.2
PyGObject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyserial==3.4
python-apt==1.6.5+ubuntu0.5
python-debian==0.1.32
PyYAML==3.12
requests==2.18.4
requests-unixsocket==0.1.5
service-identity==16.0.0
six==1.11.0
sniffio==1.2.0
ssh-import-id==5.7
starlette==0.19.1
systemd-python==234
Twisted==17.9.0
typing_extensions==4.1.1
ufw==0.36
unattended-upgrades==0.1
urllib3==1.22
uvicorn==0.16.0
uvloop==0.14.0
watchgod==0.7
websockets==9.1
zipp==3.6.0
zope.interface==4.3.2
